[submodule "rpcWebChannel"]
	path = rpcWebChannel
	url = https://github.com/kdeyev/rpcWebChannel.git
[submodule "3rd_party/nlohmann/json"]
	path = 3rd_party/nlohmann/json
	url = https://github.com/nlohmann/json.git
