[submodule "rpcWebChannel"]
	path = rpcWebChannel
	url = https://github.com/kdeyev/rpcWebChannel.git
[submodule "jsonrpcpp"]
	path = jsonrpcpp
	url = https://github.com/badaix/jsonrpcpp.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "rttr"]
	path = rttr
	url = https://github.com/rttrorg/rttr.git
